@import './assets/css/inicio-pag.css';
@import './assets/css/info.css';
@import './assets/css/sobre.css';
@import './assets/css/form.css';
@import './assets/css/sobreAPP.css';

* {
    margin: 0px;
    padding: 0px;
}

body,html {
    width: 100%;
    height: 100%;
}

